.Scroll {
  height: 75vh;
  text-align: left;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track-piece {
  background-color: #2f3136;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #202225;
}
