.App {
  text-align: center;
  flex-direction: row;
  align-items: center;
  display: flex;
  background-color: #202225;
  color: #72767d;
}

.titlebar {
  background-color: #202225;
  color: #72767d;
  -webkit-app-region: drag;
  display: flex;
  flex-direction: row;
  min-height: 3vh;
}

.title {
  height: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.Menu {
  right: 0;
  position: fixed;
  display: flex;
  -webkit-app-region: no-drag;
}

.MenuButtons {
  background-color: transparent;
  border-color: transparent;
  color: white;
  font-size: 12px;
}

.MenuButtons:hover {
  background: gray;
}
